.App {
  height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 480px;
  padding: 1rem;
  margin-top: -5rem;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

.App-title {
  font-family: monospace;
  font-size: 4rem;
  color: #fff;
}